.ProjectDescription {
    font-size: 1.7rem;
}

.ProjectDescription p {
    line-height: 2;
    text-align: justify;
    color: var(--color-primary-light);
}

.ProjectDescription a {
    color: var(--color-primary-dark);
    text-decoration: none;
    display: inline-block;
}

.ProjectDescription a:hover,
.ProjectDescription a:active,
.ProjectDescription a.active {
    color: var(--color-tertiary);
    transition: all .2s;
}

@media only screen and (max-width: 600px) {
    .ProjectDescription a {
        display: block;
        text-align: center;
    }
}
