.NavItem {
    align-self: center;
}

.NavItem a:hover,
.NavItem a:active,
.NavItem a.active {
    border-bottom: 2px solid var(--color-primary);
    transition: all .1s;
}

.NavLink:link,
.NavLink:visited {
    color: currentColor;
    text-decoration: none;
}