.TechItem {
    width: 8rem;
    padding: 1rem;
    text-align: center;
    margin: 1rem;

    color: var(--color-secondary);
    font-size: 1.5rem;
    background-image: linear-gradient(to bottom, var(--color-primary), var(--color-tertiary));
    background-color: var(--color-primary);
    border-radius: 4px;
}

.TechItem:first-child {
    margin-left: 0;
}

@media only screen and (max-width: 1200px) {
    .TechItem {
        margin: .75rem;
    }

    .TechItem:first-child {
        margin-left: .75rem;
    }
}

@media only screen and (max-width: 900px) {
    .TechItem {
        margin: .5rem;
    }

    .TechItem:first-child {
        margin-left: .5rem;
    }
}

