.ProjectSection {
    grid-column: 2 / -2;
    grid-row: 5 / 6;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, min-content);

    margin-bottom: 7rem;
}

.Projects {
    grid-row: 2;

    display: grid;
    grid-template-rows: repeat(5, min-content);
    grid-row-gap: 7rem;
}

.ProjectItem {
    display: grid;

    grid-template-columns: 25vw 1fr;
    grid-column-gap: 5rem;
}

.ProjectItem img {
    width: 100%;
    object-fit: cover;
    margin-top: 1rem;
    transition: transform .3s;
}

.ProjectItem img:hover {
    transform: translateY(-.5rem ) scale(1.03);
    z-index: 100;
}

.Tech {
    display: flex;
    flex-flow: row wrap;
}

@media only screen and (max-width: 1000px) {
    .ProjectItem img {
        margin-top: 1.5rem;
    }
}

@media only screen and (max-width: 900px) {
    .ProjectSection {
        grid-column: 1 / -1;
        margin-right: 5rem;
        margin-left: 5rem;
    }

    .ProjectItem {
        grid-column-gap: 3rem;
    }
}

@media only screen and (max-width: 725px) {
    .ProjectItem {
        display: grid;

        grid-template-columns: 30vw 1fr;
        grid-column-gap: 2rem;
    }
}

@media only screen and (max-width: 600px) {
    .Projects {
        grid-row-gap: 5rem;
    }

    .ProjectItem {
        display: grid;

        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, min-content);
        grid-row-gap: 0;
    }

    .ProjectItem img {
        grid-column: 1 / -1;
        margin-top: 0;
    }

    .Tech {
        justify-content: center;
    }
}



