.NavItems {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-items: space-between;
    align-items: center;
    height: 100%;

    /* display: grid;
    grid-column: 2;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 4rem;
    justify-items: end;
    list-style: none; */
}

@media only screen and (max-width: 900px) {
    .NavItems {
        flex-flow: row;
    }
}
