.NavItems {
    margin: 0;
    margin-right: 3rem;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
    color: black;
    text-transform: uppercase;
}

@media only screen and (max-width: 599px) {
    .NavItems {
        flex-flow: column;
        margin-top: 2rem;
        margin-left: 3.5rem;
    }
}