.Wrapper {
    display: flex;
}

.Logo {
    height: 3rem;
    margin-right: 1rem;
    justify-self: start;
    align-self: center;
}

.Name {
    font-size: 1.7rem;
    font-weight: 700;
    letter-spacing: .05em;
    align-self: center;
    color: var(--color-primary);
    text-transform: uppercase;
}

@media only screen and (max-width: 600px) {

}