.Wrapper {
    display: flex;
}

.Logo {
    height: 3rem;
    margin-right: 1rem;
    justify-self: start;
    align-self: center;
}

.Name {
    grid-column: 1 / 2;
    font-size: 1.7rem;
    font-weight: 700;
    letter-spacing: .05em;
    align-self: center;
}