.BurgerMenu {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 200;
    background-color: var(--color-secondary);
    padding: 3rem 1.6rem;
    box-sizing: border-box;
    transition: transform .3s ease-out;
}

.Open {
    transform: translateY(0);
}

.Close {
    transform: translateY(-200%);
}

@media only screen and (min-width: 600px) {
    .BurgerMenu {
        display: none;
    }
}



