.NavItem {
    margin: 0 1.5rem;
    box-sizing: border-box;
    display: block;
    width: 100%;
}

.NavItem a:hover,
.NavItem a:active,
.NavItem a.active {
    border-bottom: 2px solid var(--color-primary);
    transition: all .1s;
}

.NavLink:link,
.NavLink:visited {
    color: currentColor;
    text-decoration: none;
}