.SkillSection {
    grid-column: 1 / -1;
    grid-row: 4 / 5;

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(3, min-content);

    background: linear-gradient(to bottom, var(--color-primary), var(--color-tertiary));
}

.SkillItems {
    grid-column: 2 / -2;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 5rem;

    margin-bottom: 10rem;
}

.SkillGroup {
    display: grid;
    grid-template-columns: min-content max-content;
    grid-template-rows: 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 5rem;

    padding: 1rem;
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.SkillLogo path {
    fill: var(--color-secondary);
}