.SkillSection {
    grid-column: 1 / -1;
    grid-row: 4 / 5;

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(2, min-content);

    background: linear-gradient(to bottom, var(--color-primary), var(--color-tertiary));
}

.SkillItems {
    grid-column: 2 / -2;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 5rem;

    margin-bottom: 10rem;
}

.SkillGroup {
    display: grid;
    grid-template-columns: min-content min-content;
    grid-template-rows: 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 5rem;

    padding: 1rem;
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    transition: transform .3s;
}

.SkillGroup:hover {
    transform: translateY(-.5rem ) scale(1.03);
}

.SkillLogo {
    pointer-events: none;
}

.SkillLogo path {
    fill: var(--color-secondary);
}

@media only screen and (max-width: 1050px) {
    .SkillItems {
        grid-gap: 4rem;
        grid-template-columns: repeat(4, 1fr);
        margin-right: 5rem;
        margin-left: 5rem;
    }
}

@media only screen and (max-width: 900px) {
    .SkillItems {
        grid-column: 1 / -1;
        grid-gap: 5rem;
    }
}

@media only screen and (max-width: 700px) {
    .SkillItems {
        margin-right: 5rem;
        margin-left: 5rem;
        margin-bottom: 7rem;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 3rem;
    }
}

@media only screen and (max-width: 500px) {
    .SkillItems {
        margin: 0 auto;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 7rem;
    }
}