@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');

:root {
  --color-primary: #D15F74;
  --color-primary-dark: #100202b6;
  --color-primary-light: #2c210cd7;
  --color-secondary: #fff;
  --color-tertiary: #F08484;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  font-family: 'Merriweather', serif;
}

code {
  font-family: 'Merriweather', serif;
}

@media only screen and (max-width: 1380px) {
  html {
    font-size: 50%;
  }
}